<mat-list id="chat-box">
	<div *ngFor="let message of messages" matTooltip="{{getMessageTimeStr(message.timestamp)}}">
		<mat-card role="group" class="textCard" *ngIf="message.action === 'Message'">
			<p class="you-sent" *ngIf="userID === message.userID">
				<b>You said:</b> "{{message.content}}".
			</p>
			<p class="they-sent" *ngIf="userID !== message.userID">
				{{message.userID}} said: "{{message.content}}".
			</p>
			<mat-hint align="end"></mat-hint>
		</mat-card>
		<mat-card role="group" class="textCard" class="connectCard" *ngIf="(message.action === 'Connected') && (userID !== message.userID)">
			<p>{{message.userID}} has joined the group.</p>
		</mat-card>
		<mat-card role="group" class="textCard" class="disconnectCard" *ngIf="(message.action === 'Disconnected') && (userID !== message.userID)">
			<p>{{message.userID}} has left the group.</p>
		</mat-card>
	</div>
</mat-list>

<form id="inputForm">
	<mat-form-field>
		<mat-label>Type your message:</mat-label>
		<input matInput class="example-full-width" type="text" name="content"
			[(ngModel)]="content" maxlength="160"
			(keyup.enter)="sendMessage();" required />
		<mat-hint align="end">You have {{content.length}}/160 characters left.</mat-hint>
	</mat-form-field>
	<button mat-button type="button" (click)="sendMessage();">Send</button>
</form>
