#chat-box {
	position: fixed;
	height: 79%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	overflow: auto;
}

#inputForm {
	position: fixed;
	border: solid 5px transparent;
	right: 0px;
	left: 0px;
	top: 80%;
	background-color: #e6f3f7;
}

.textCard {
	height: 10px;
}

#inputForm > * {
	width: 100%;
}

.they-sent {
	text-align: right;
}

.connectCard {
	font-size: 12px;
	text-align: center;
	color: lightblue;
}

.disconnectCard {
	font-size: 12px;
	text-align: center;
	color: rgb(255, 153, 0);
}
